<h4 class="ui center aligned medium icon header">
    <i class="circular red comments icon"></i>
    Say something
</h4>

<div class="ui two colmun grid">
    <div class="twelve wide column">
        <div class="four wide column">
            <div class="ui card fluid raised chatbox">
                <div class="content  " id = "messages">
                    <div class="ui feed" id = "message-container">



                        <%= render @messages %>


                    </div>
                </div>

                <div class="extra content">
                    <%= form_for( @message , html: {class: "ui reply form", role: "form"}, url: messages_path, remote: true) do |f| %>
                    <div class="field">
                        <div class="ui fluid icon input">
                            <%= f.text_field :body %>
                            <%= f.button '<i class="bordered inverted red edit icon"> </i>'.html_safe, id: "subut" %>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui card fluid raised chatbox">
            <div class="content">
                <div class=" ui vertical menu">
                    <a class="active item">
                        Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>