<% flash.each do |messageType, messageContent| %>
    <div class="ui <%= messageType %> message">
    <i class="close icon"></i>
    <div class="header">
      <%= messageContent %>
    </div>
  </div>
    <% end %>